/* Hide the board by default to prevent any flashing */
.cg-wrap, cg-board {
  opacity: 0 !important;
}

/* Reveal class to be added by our script */
html.theme-loaded .cg-wrap, 
html.theme-loaded cg-board {
  opacity: 1 !important;
}

/* Analysis Arrow fix for the loader transition */
.lichess-pro-arrow-container {
  opacity: 0;
  transition: opacity 0.5s ease;
}


/* Promotion highlight */
.promotion-highlight {
  position: relative;
}

.promotion-highlight::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 123, 255, 0.3) !important;
  border-radius: 50%;
  pointer-events: none;
  z-index: 5;
}